@media only screen and (min-width: 1600px) and (max-width: 2000px){
    html{
        overflow-x:hidden;

        min-height: 100vh;
        background-color: #FCF8E8;
        padding: 0;
    }
    html::-webkit-scrollbar {
        width: 0;
    }
    body{
        position: absolute;
        margin:0; padding: 0;

        width: 1920px;
        min-height: 100vh;
    }

    .left{
        position: fixed;
        left: 0;
        width: 30%;
        height: 100vh;
        background-color: #94B49F;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-family: 'Raleway', sans-serif;
    }

    .right{
        width: 70%;
        min-height: 100vh;
        background-color: #FCF8E8;
        position: absolute;
        right: 0; top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top{
        width: 100%;
        height:20%;
        display: flex;
        justify-content: space-between;
    }

    .company{
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 4px;
        font-weight: 500;
        margin-top: 20px;
        color: #FCF8E8;

    }
    .holder{
        width: 20%;
    }
    .title{
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: #FCF8E8
    }
    .trip{
        text-transform: capitalize;
        font-size: 35px;
        letter-spacing: 4px;
        font-weight: 600;

    }
    .by{
        text-transform: lowercase;
        font-size: 20px;

    }
    .name{

        font-size: 25px;
        letter-spacing: 4px;
        font-weight: 600;
    }
    .hiddenBottom{
        height:20%;
        width: 100%;
    }

    .logo{
        height: 200px;
    }
    .logo img{
        max-height: 100%;
    }
    .buttonBox{
        width: 20%;
        margin-top: 10px;

        margin-bottom: 10px;


    }
    .backButton{
        background-color:  #FCF8E8;
        color: #94B49F;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding:10px 20px;
        border: none;
        border-radius: 5px;
        margin-left:10px;

    }

    table{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Raleway', sans-serif;

    }
    tr{
        width: 90%;
    }
    th{
        padding: 10px 40px 20px 30px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 25px;
        border-bottom: 3px solid #94B49F;
    }
    td {
        padding: 10px 40px 20px 30px;
        text-align: center;

    }
    a{
        text-decoration: none;
        color: #76549A;
    }
    td:nth-child(1) {
        width: 20%;
    }
    .hotB{
        height: 100%;
        z-index:2;
        position: absolute;
        right: 0;

    }
    .hot1{
        width: 80px;
        position: absolute;
        right: 20px; bottom:-10%;
        animation-name: balloon1;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        z-index: 2;

    }
    .break{
        width: 90%;
       margin-top: 100px;
    }
    .hot1 img{
        max-width: 100%;
    }
    .hot2{
        width: 80px;
        position: absolute;
        right: 10px; bottom:-10%;
        animation-name: balloon1;
        animation-duration: 12s;
        animation-iteration-count: infinite;

    }
    .hot2 img{
        max-width: 100%;
    }

    @keyframes balloon1 {
        0%   {bottom: -10%;}
        100% {bottom: 110%;}
    }

    #likeButton{
        height: 60px;
        background-color: #94B49F ;
        border-radius: 20px;
        color: #FCF8E8 ;
        border: none;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        padding-left:20px; padding-right: 20px;
    }

    h1{
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 5px;
        font-size: 27px;


        text-align: center;
        margin-bottom: 25px;
        border-bottom: 3px solid #94B49F;
        padding-bottom: 25px;
        padding-top: 25px;
        padding-left: 15px;
        padding-right: 15px;

    }

    ul{
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        list-style : none;
        margin-left:-40px;

    }
    .fav{
        width: 15%;
        height: 50px;
        border: none;
        background-color: #94B49F;
        color: #FCF8E8;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px; padding-bottom: 10px;
        border-radius: 20px;

    }

    .fav a{
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        color: #FCF8E8;
        text-align: center;

    }
    .bottom{
        width: 100%; height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #94B49F;
        color: #FCF8E8;
        font-family: 'Raleway', sans-serif;
        position: absolute;
        font-size: 17px;
        bottom: 0;
        letter-spacing: 5px;
    }





}