@media only screen and (min-width: 1600px) and (max-width: 2000px){
    html{
        overflow-x:hidden;
        overflow-y: hidden;
        height: 100vh;
        background-color: #FCF8E8;
        padding: 0;
    }
    html::-webkit-scrollbar {
        width: 0;
    }
    body{
        position: absolute;
        top:0; margin:0; padding:0;
        width: 1920px;
        height: 100vh;
    }
    .homeButton{
        position: absolute;
        z-index: 2;
        width:100px;
        background-color: orange;
    }
    .left{
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: #FCF8E8;
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .right{
        width: 50%;
        height: 100%;
        background-color: rgba(148, 180, 159,.5);
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top{
        width: 50%; height: 70px;
        position: absolute; top:0;

        display: flex; justify-content: space-between;
        font-family: 'Raleway', sans-serif;
        z-index: 2;
    }
    .girl{
        width: 60px;
        height: 60px;
        margin-left: 25px;
        margin-top: 10px;


    }
    .girl img{
        max-width: 100%;
    }
    .company{
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 45px;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        margin-top: 12px;
        color: #94B49F;

    }
    .profile{
        margin-right: 25px; margin-top: 10px;
        width: 60px; height: 60px;

    }
    .profile img{
        max-width: 100%;
    }
    input, label{
        display: block;
    }
    .theForm{
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .theForm .row{
        width:70%;
    }
    .theForm input[type="date"]::-webkit-calendar-picker-indicator{
        padding-right: 45px;


    }
  .theForm input[type="date"]{
    color: #FCF8E8;
        background-color: #94B49F;

    }
  .theForm  input[type="text"]{
    color: #FCF8E8;
        background-color: #94B49F;

    }
    .theForm .forms-group{
        margin-top: 30px;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-size: 25px;
        letter-spacing: 5px;
    }
    .theForm .forms-group label{
        padding-bottom: 10px;
        font-weight: 500;
        color: black;
    }
    .theForm ::placeholder{
        color: #FCF8E8;
    }

    .theForm .forms-control{
        width: 90%;
        border-radius: 20px;

        height: 60px;
        background-color: #94B49F;
        color: #FCF8E8;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 3px;
        font-size:17px;
        padding-left: 30px;

    }

    .theForm input[type="text"]{
        background-color: #94B49F;
        color: #FCF8E8;
        border:none;
    }
    .theForm input[type="text"]:focus{
        background-color: #94B49F;
        color: #FCF8E8;


    }
    .theForm .forms-control:focus{
        background-color: #94B49F;
        color: #FCF8E8;

    }




    .titleTop{
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-size: 25px;
        letter-spacing: 5px;
        text-align: center;
    }

    .buttonBox{
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        margin-top: 50px;
    }
    .submitButton{
        width: 30%;
        height: 60px;
        border-radius: 18px;
        border: none;
        background-color: #94B49F;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 5px;
        font-size:17px;
        text-transform: uppercase;
        font-weight: 500;
        color: #FCF8E8;
    }
    .mapBox{
        width: 500px;
        height: 500px;
        border-radius: 25px;
        background-color: #94B49F;
        display: flex;


    }
    .title{
        width: 500px;
        text-align: left;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 8px;
        font-size:25px;
        text-transform: uppercase;
        font-weight: 500;
        color: black;
        margin-bottom: -10px;
    }

    .planeContainer{
        width: 100%;
        height: 100vh;

    }
    .plane {
        width: 120px;
        position: absolute;
        top: 12%; left: -150px;
        animation-name: plane;
        animation-duration: 12s;
        animation-delay: 10s;
        animation-iteration-count: infinite;
    }
    .carContainer{
        width: 100%;
        height: 100vh;

    }
    .car{
        width: 70px;
        position: absolute;
        bottom: 0; left: -40px;
        animation-name: car;
        animation-duration: 18s;
        animation-iteration-count: infinite;
    }
    .vanContainer{
        width: 100%;
        height: 100vh;

    }
    .van{
        width: 75px;
        position: absolute;
        bottom: -10px; right: -80px;
        animation-name: van;
        animation-delay: 3s;
        animation-duration: 25s;
        animation-iteration-count: infinite;
    }
    .hotContainer{
        width: 100%;
        height: 100%;

    }
    .hot{
        width: 75px;
        position: absolute;

        animation-name: hot;
        animation-duration: 60s;
        animation-iteration-count: infinite;
    }
    @keyframes car {
        0%   {left: -40px;}
        100% {left: 130%;}
    }
    @keyframes plane {
        0%   {left: -150px;}
        100% {left: 130%;}
    }
    @keyframes van {
        0%   {right: -70px;}
        100% {right: 130%;}
    }
    @keyframes hot {
        0%   {left: 25px; top: 10px;}
        20% {left: 25px; top: 10px;}
        25% {left: 25px; top: -10%;}
        36% {left: 90%; top: -10%;}
        60% {left: 90%; top: 120%;}
        61% {left: 43%; top: 120%;}
        90% { left: 43%; top: -10%}
        91% {left: 25px; top: -10%;}
        100%{ left: 25px; top: 10px;}

    }
    #map{
        width: 500px;
        height: 500px;
        position: center;

    }
    .hidden-validation {
        visibility: hidden;
        position: absolute;
    }
    .vanContainer{
        width: 100%;
        height: 100vh;

    }
    .van{
        width: 75px;
        position: absolute;
        bottom: -10px; right: -80px;
        animation-name: van;
        animation-delay: 3s;
        animation-duration: 25s;
        animation-iteration-count: infinite;
    }


    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: none;
        background-color: #94B49F;
        color: #FCF8E8;
        -webkit-text-fill-color: #FCF8E8;
        -webkit-box-shadow: 0 0 0 1000px #94B49F inset;
        transition: background-color 5000s ease-in-out 0s;
    }






}