@media only screen and (min-width: 1600px) and (max-width: 2000px) {
    html {
        overflow-x: hidden;

        min-height: 100vh;
        background-color: #FCF8E8;
        padding: 0;
    }

    html::-webkit-scrollbar {
        width: 0;
    }

    body {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 1920px;
        min-height: 100vh;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        color: #FCF8E8;
        background-color: #94B49F;
        -webkit-box-shadow: 0 0 0 37px #94B49F inset !important;
    }


    .disable-select {
        user-select: none;
    }

    .left {
        position: absolute;
        left: 0;
        width: 70%;
        height: 100%;
        background-color: #FCF8E8;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .right {
        width: 30%;
        height: 100%;
        background-color: rgba(148, 180, 159, .3);
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top {
        width: 70%;
        height: 70px;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        font-family: 'Raleway', sans-serif;
        z-index: 2;
    }
    .company{
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 45px;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        margin-top: 12px;
        color: #94B49F;

    }
    table{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway', sans-serif;

    }

    th{
        padding:10px ;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        border-bottom: 3px solid #94B49F;
    }
    td {
        padding: 10px ;
        text-align: center;
        font-size: 15px;

    }
    .backButton{
        background-color:  #FCF8E8;
        color: #94B49F;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding:10px 20px;
        border: none;
        border-radius: 5px;

    }
    .backButton:hover{
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: #76549A;
    }

    .upload {
        width: 400px;
    }
    .upload img {
        max-width: 100%;
    }

}